.face {
    min-height: 100vh;
    background: #666666;
    clear: both;
    text-align: center;
}

body {
    background: #f5f7fa;
}

.ui.vertical.stripe.intro.segment {
    background: #f5f7fa;
}

.row {
    padding-top: 120px;
    padding-bottom: 50px;
}


.following.bar {
    position: fixed;
    top: 0px;
    z-index: 900;
    left: 0%;
    padding: 2em 0em;
    width: 100%;
    box-shadow: 0px 0px 0px 0px transparent;
    border-bottom: 1px solid transparent;
    transition: padding 0.5s ease, background 0.5s ease, box-shadow 0.5s ease, border 0.5s ease;
}