p {
    border: 10px solid powderblue;
}

body {
    background-color:rgb(255, 99, 71);
}

.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    font-size: 16px;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.main{
    margin-left: 160px;
}

html {
    font-family: sans-serif;
  }
  
  form {
    width: 400px;
    margin: 0 auto;
  }
  
  fieldset {
    background: orange;
    border: 5px solid black;
  }
  
  legend {
    padding: 10px;
    background: white;
    color: rgb(0, 0, 0);
  }