input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

p {
    margin-bottom: 0px !important;
}

.moveable {
    -webkit-app-region: drag;
    user-select: none;
}

.absolute-centered {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.non-moveable {
    -webkit-app-region: no-drag;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity 0.01s;
}

.fade-enter, .fade-leave-to {
    opacity: 0;
    transition: all 0.01s;
}

.transition-list-enter-active, .transition-list-leave-active {
    transition: all 0.7s;
}

.transition-list-enter, .transition-list-leave-to {
    opacity: 0;
    transition: all 0.7s;
    /* transform: translateY(30px); */
}

.transition-list-move {
    transition: transform 0.7s;
}

::-webkit-scrollbar {
    width: 12px;
    cursor: pointer;
    background: transparent;
    /* optional: just make scrollbar invisible */
}

::-webkit-scrollbar-thumb {
    width: 8px;
    cursor: pointer;
    background: rgba(155, 155, 155, 0.5);
    transition: all 1s;
    border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
    width: 12px;
    background: rgba(192, 192, 192, 0.8);
    transition: all 1s;
}

.invisible-scroll::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    background: transparent;
}

.card-list {
    max-width: 100%;
    padding: 0 10px 10px 10px;
    margin: 0px 0px 0px 0px;
    min-height: 80vh;
    max-height: 80vh;
}

.card-list .list {
    overflow: auto;
    min-height: 73vh;
    max-height: 73vh;
}

.card-list .v-input__slot {
    box-shadow: none !important;
    transition: background 0.3s cubic-bezier(0.25, 0.8, 0.5, 1), box-shadow 0.3s cubic-bezier(0.25, 0.8, 0.5, 1) !important;
    transition-property: background;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.5, 1);
    transition-delay: 0s;
}

.card-list .v-input__slot:hover {
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12) !important;
}

.card-list .v-input--is-focused .v-input__control .v-input__slot {
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12) !important;
}

.v-menu {
    /* fix wrong menu width */
    max-width: 0px;
}

.main-body .container h1.flex {
    margin-bottom: 10px;
    padding: 6px 8px !important;
}

.main-body .container {
    padding-left: 30px;
    padding-right: 30px;
}

.main-body .v-form .container {
    padding-left: 30px;
    padding-right: 30px;
}

.theme--dark.v-sheet {}

.sidebar.v-navigation-drawer .v-list {
    background: unset;
}

/* Platform specific css */

.darwin .theme--dark.v-navigation-drawer {
    background-color: rgba(66, 66, 66, 0.4);
}

.darwin .main-body {
    background-color: unset;
    border-color: unset;
}

.win32 .loading-background {
    background-color: unset;
}

.win32 .theme--dark.v-navigation-drawer {
    background-color: rgba(66, 66, 66, 0.8);
    /* background-color: rgba(33, 33, 33, 0.85); */
}

.win32 .main-body {
    /* background-color: rgba(66, 66, 66, 0.68); */
    background-color: rgba(33, 33, 33, 0.78);
    /* background-color: rgba(33, 33, 33, 0.7); */
    /* border-color: rgba(33, 33, 33, 0.7); */
}

.win32 .loading-background {
    background-color: rgba(33, 33, 33, 0.78);
}

.main-body.solid {
    background-color: #212121 !important;
    border-color: #212121 !important;
}

/* Draggable card */

*.selection-mode .draggable-card, .draggable-card.selected {
    transform: scale(0.95);
}

.draggable-card.dragged {
    transform: scale(0.8);
}

.v-dialog {
    overflow: hidden;
}

a {
    -webkit-user-drag: none;
}

@media only screen and (min-width: 1264px) {
    .container {
        max-width: unset;
    }
}

@media only screen and (min-width: 960px) {
    .container {
        max-width: unset;
    }
}