{
  "env": {
    "mocha": true
  },
  "globals": {
    "assert": true,
    "expect": true,
    "should": true,
  },
  "extends": "../.eslintrc.json",
  "rules": {
    "prefer-arrow-callback": "off"
  }
}