[submodule "xmcl"]
	path = xmcl
	url = https://github.com/Voxelum/minecraft-launcher-core-node
	branch = dev
[submodule "purelauncher"]
	path = purelauncher
	url = https://github.com/Apisium/PureLauncher
	branch = dev
