.DS_Store
.direnv
*/dist/**/*
*.gen
coverage
node_modules/
npm-debug.log
npm-debug.log.*
thumbs.db
!.gitkeep
*.lock
*.log
*.bin
/temp
xmcl-electron-app/build/appx
.env

p2p.network
flake.lock

*/build/output/*
package-lock.json
