# System and Unit Test Report

Product name : ILauncher,

Team name: LWPJ.

Date: Dec. 3

# System Test scenarios

A. User Story 2 from Sprint 1: As a user, I want to install java quickly and easily. 
   Auto detecting java should be available.

Scenario:
   1. Start ILauncher app.
   2. Click "Launch Game".
   3. Auto java detect should start.
   

B. User Story 2 from Sprint 2: As a user, I want to have the capability to manage 
   the local mods.

Scenario:
   1. Start ILauncher app; select "Add Modpack"; type
       - Name = <Modpack 1>
       - Author = <ABC>
       - Description = <Some descriptions>
   2. Click "Create" to create a new modpack
   3. Enter the new modpack to edit the settings.


C. User Story 3 from Sprint 3: As a player from China, I want to to view the wiki 
   from mcmod.cn
   
Scenario:
   1. Start ILauncher app.
   2. Click "Market"
   3. Click the icon of "Mcmod.cm"
   4. The user should be able to see up-to-date online modpacks with associated 
      hotness and popularity.
    
    
D. User Story 1 from Sprint 4: As an international user, I want to access the 
   app from my native language.
   
Scenario:
   1. Start ILauncher app.
   2. Click "settings" button
   3. The user should be able to see the language option.
   4. Select zh_cn to change to Chinese.
   
