# System and Unit Test Report

Product name : ILauncher,

Team name: LWPJ.

Date: Dec. 3

# System Test scenarios

User Story 2 from Sprint 1: As a user, I want to install java quickly and easily. 
   Auto detecting java should be available.

Scenario:

   1. Start ILauncher app.
   2. Click "Launch Game".
   3. Auto java detect should start.

User Story 3 from Sprint 1: As a user, I want to be able to config / launch the game smoothly.

Scenario:

   1. Start ILauncher app.
   1. Create a Modpack with any name you want
   1. Click the modpack card enter modpack
   1. Open version selecting table by clicking the VERSION
   1. Click any version you want
   1. If the version is not downloaded, download the version
   1. After version downloaded, Click Launch Button

User Story 4 from Sprint 1: As a user, I want to manage the local worlds easily. 

Scenario:

   1. Start ILauncher app.
   1. Create a Modpack with any name you want
   1. Click the modpack card enter modpack
   1. Open version selecting table by clicking the VERSION
   1. Click any version you want
   1. If the version is not downloaded, download the version
   1. After version downloaded, Click Launch Button
   1. In game, create a new world.
   1. After game stop, you should see the map which was just created listed in the Map section
   
User Story 1 from Sprint 2: As a user, I want to ping the server info correctly.

Scenario:

   1. Start ILauncher app.
   1. Create a Server with ip: mc.hypixel.net
   1. Press the refresh button on the left bottom corner
   1. The server card should display the info of the server

User Story 2 from Sprint 2: As a user, I want to have the capability to manage 
   the local mods.

Scenario:

   1. Start ILauncher app; select "Add Modpack"; type
       - Name = <Modpack 1>
       - Author = <ABC>
       - Description = <Some descriptions>
   2. Click "Create" to create a new modpack
   1. Goto the Mods section.
   1. Drop any mod from disk to here.
   1. You should see the mod has been listed in the section with basic mod info
   1. When you click the + button, it should been add to right side.
   1. Then when you launch the Minecraft, you should see the mods in the mods folder

User Story 3 from Sprint 2: As a user, I want to have the capability to manage the local resource packs.

Scenario:
   1. Start ILauncher app; select "Add Modpack"; type
       - Name = <Modpack 1>
       - Author = <ABC>
       - Description = <Some descriptions>
   2. Click "Create" to create a new modpack
   1. Goto the ResourcePacks section.
   1. Drop any resourcepacks from disk to here.
   1. You should see the mod has been listed in the section with basic resourcepack info
   1. When you hover the resource pack, and click Add button, it should been add to right side which mean selected.
   1. Then when you launch the Minecraft, you should see the resourcepacks in the resourcepacks folder

User Story 4 from Sprint 2: As a user, I want to be able to config the game.

   1. Start ILauncher app; select "Add Modpack"; type
       - Name = <Modpack 1>
       - Author = <ABC>
       - Description = <Some descriptions>
   2. Click "Create" to create a new modpack
   1. Goto the Setting section
   1. Toggle the setting, for example, Graphic
   1. Launch the game
   1. You should see the setting change, e.g. Graphic

User Story 3 from Sprint 3: As a player from China, I want to to view the wiki 
   from mcmod.cn
   
Scenario:

   1. Start ILauncher app.
   2. Click "Market"
   3. Click the icon of "Mcmod.cm"
   1. The user should be able to see up-to-date online modpacks with associated 
      hotness and popularity.
    
As a player, I want to be able to access/download mods from curseforge.

Scenario:

   1. Start ILauncher app.
   2. Click "Market"
   3. Click the CurseForge Card
   1. User should be able to view all the mod in curseforge
   1. Click any mod card.
   1. Choose Files
   1. Click download
   1. Back to the Home
   1. Enter a Modpack or Server, goto the Mods section
   1. You should see new mod listed here.


User Story 1 from Sprint 4: As an international user, I want to access the 
   app from my native language.
   
Scenario:
   1. Start ILauncher app.
   2. Click "settings" button
   3. The user should be able to see the language option.
   4. Select zh_cn to change to Chinese.
   