ul {
   right:0;
   left:0;
   width: 100%;
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   background-color: #333;
}

header{
    right:0;
    left:0;
    top: 0;
    overflow: hidden;
    width: 100%;
    position: absolute;
    background-color: #708090;
}

navbar{
    right:0;
    left:0;
    top:23px;
    overflow: hidden;
    width: 100%;
    position: absolute;
}

li.otherList {
    float: left;
    border-right:1px solid #bbb;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #D3D3D3;
}

footer{
    right:0;
    left:0;
    overflow: hidden;
    width: 100%;
    background:#6cf;
    position: fixed;
    bottom: 0;
}


.sidenav {
    width: 230px;
    position: fixed;
    z-index: 1;
    top: 100px;
    left: 10px;
    background: #eee;
    overflow-x: hidden;
    padding: 8px 0;
}

.main {
    margin-left: 240px;
    font-size: 28px;
    padding: 0px 10px;
}