ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

header{
    right:0;
    left:0;
    top: 0;
    overflow: hidden;
    width: 100%;
    position: absolute;
    background-color: #708090;
}

navbar{
    right:0;
    left:0;
    top:23px;
    overflow: hidden;
    width: 100%;
    position: absolute;
}

li {
    float: left;
    border-right:1px solid #bbb;*
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #D3D3D3;
}

footer{
    right:0;
    left:0;
    overflow: hidden;
    width: 100%;
    background:#6cf;
    position: absolute;
    bottom: 0;
}


.sidenav {
    width: 230px;
    position: fixed;
    z-index: 1;
    top: 100px;
    left: 10px;
    background: #eee;
    overflow-x: hidden;
    padding: 8px 0;
}

.main {
    margin-left: 240px;
    padding: 0px 10px;
}



input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}