name: Build

on:
  push:
    branches:
      - master
    paths:
      - "PKGBUILD/**"
      - "xmcl-runtime/**"
      - "xmcl-runtime-api/**"
      - "xmcl-keystone-ui/**"
      - "xmcl-electron-app/**"
      - "package.json"
      - "pnpm-lock.yaml"
      - ".github/**"

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - uses: pnpm/action-setup@v4
        with:
          version: 9.3.0
      - name: Fix node-gyp and Python
        if: ${{ runner.os == 'macOS' }}
        run: python3 -m pip install --break-system-packages --user packaging setuptools
      - name: Use Node.js 20
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: "pnpm"
      - name: Install
        run: pnpm install
      - name: Restore cached Electron
        id: cache-electron
        uses: actions/cache/restore@v4
        with:
          path: |
            ~/.cache/electron
            ~/.cache/electron-builder
          key: ${{ runner.os }}-electron-build-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-electron-build-
      - name: Build
        run: |
          pnpm run --prefix xmcl-keystone-ui build
          pnpm run --prefix xmcl-electron-app build:all
        env:
          BUILD_NUMBER: ${{ github.run_number }}
          NODE_OPTIONS: --max-old-space-size=32768
          NODE_ENV: production
          CURSEFORGE_API_KEY: ${{ secrets.CURSEFORGE_API_TOKEN }}
          PUBLISHER: CN=SignPath Foundation, O=SignPath Foundation, L=Lewes, S=Delaware, C=US
      - name: Upload Source Maps
        if: ${{ runner.os == 'Windows' }}
        uses: actions/upload-artifact@v4
        with:
          name: sourcemap
          path: |
            xmcl-electron-app/dist/*.js.map
      - name: Upload Unsigned Appx
        if: ${{ runner.os == 'Windows' && startsWith(github.event.head_commit.message, 'chore(release)') }}
        id: upload-artifact
        uses: actions/upload-artifact@v4
        with:
          name: appx
          path: |
            xmcl-electron-app/build/output/*.appx
      - name: Sign Build
        if: ${{ runner.os == 'Windows' && startsWith(github.event.head_commit.message, 'chore(release)') }}
        id: sign
        uses: signpath/github-action-submit-signing-request@v0.4
        continue-on-error: true
        with:
          api-token: ${{ secrets.CODE_SIGN_TOKEN }}
          organization-id: ab51b40d-a5bd-4d25-ae54-66ccabf86161
          project-slug: x-minecraft-launcher
          signing-policy-slug: release-signing
          github-artifact-id: ${{ steps.upload-artifact.outputs.artifact-id }}
          artifact-configuration-slug: appx
          wait-for-completion: true
          output-artifact-directory: xmcl-electron-app/build/output/
      - name: Check Sign Status
        id: sign-status
        if: ${{ runner.os == 'Windows' && startsWith(github.event.head_commit.message, 'chore(release)') }}
        run: |
          if ("${{ steps.sign.outcome }}" -eq "success") {
            echo "SIGN_SUCCESS=true" | Out-File -FilePath $env:GITHUB_ENV -Encoding utf8 -Append
          } else {
            echo "SIGN_SUCCESS=false" | Out-File -FilePath $env:GITHUB_ENV -Encoding utf8 -Append
          }
      - name: Update Signed Sha256
        if: ${{ runner.os == 'Windows' && startsWith(github.event.head_commit.message, 'chore(release)') }}
        run: |
          pnpm postsign
      - name: Upload Build
        uses: actions/upload-artifact@v4
        with:
          name: build-${{ runner.os }}
          path: |
            xmcl-electron-app/build/output/
      - name: Upload Windows Zip Build
        if: ${{ runner.os == 'Windows' }}
        uses: actions/upload-artifact@v4
        with:
          name: win-b${{ github.run_number }}
          path: |
            xmcl-electron-app/build/output/win-unpacked/
      - name: Upload Linux x64 Zip Build
        if: ${{ runner.os == 'Linux' }}
        uses: actions/upload-artifact@v4
        with:
          name: linux-b${{ github.run_number }}-x64
          path: |
            xmcl-electron-app/build/output/linux-unpacked/
      - name: Upload Linux arm64 Zip Build
        if: ${{ runner.os == 'Linux' }}
        uses: actions/upload-artifact@v4
        with:
          name: linux-b${{ github.run_number }}-arm64
          path: |
            xmcl-electron-app/build/output/linux-arm64-unpacked/
      - name: Upload Mac x64 Zip Build
        if: ${{ runner.os == 'macOS' }}
        uses: actions/upload-artifact@v4
        with:
          name: mac-b${{ github.run_number }}-x64
          path: |
            xmcl-electron-app/build/output/mac/
      - name: Upload Mac arm64 Zip Build
        if: ${{ runner.os == 'macOS' }}
        uses: actions/upload-artifact@v4
        with:
          name: mac-b${{ github.run_number }}-arm64
          path: |
            xmcl-electron-app/build/output/mac-arm64/
      - name: Save cached Electron
        if: steps.cache-electron.outputs.cache-hit != 'true'
        uses: actions/cache/save@v4
        with:
          path: |
            ~/.cache/electron
            ~/.cache/electron-builder
          key: ${{ runner.os }}-electron-build-${{ hashFiles('**/pnpm-lock.yaml') }}

  build-arch:
    needs: build
    runs-on: ubuntu-latest
    if: startsWith(github.event.head_commit.message, 'chore(release)')
    container: archlinux:latest

    steps:
      - uses: actions/checkout@v4

      - name: Download Ubuntu Build Artifacts
        uses: actions/download-artifact@v4
        with:
          name: build-Linux
          path: ./xmcl/PKGBUILD/

      - name: Calculate SHA256 and Update PKGBUILD
        run: |
          cd ./xmcl/PKGBUILD/
          # Calculate checksums
          SHA256_AMD64=$(sha256sum xmcl-*-amd64.deb | awk '{print $1}')
          SHA256_ARM64=$(sha256sum xmcl-*-arm64.deb | awk '{print $1}')

          # Update PKGBUILD directly without environment variables
          sed -i \
            -e "s/sha256sums_x86_64=('.*')/sha256sums_x86_64=('$SHA256_AMD64')/" \
            -e "s/sha256sums_aarch64=('.*')/sha256sums_aarch64=('$SHA256_ARM64')/" \
            PKGBUILD

      - name: Install Dependencies and Build Package
        run: |
          # Update and install dependencies in one command
          pacman -Syu --noconfirm base-devel

          # Build package and rename
          cd ./xmcl/PKGBUILD/
          makepkg -sf --noconfirm

          # Rename files in one loop
          for f in *.pkg.tar.zst; do
            mv "$f" "${f%.pkg.tar.zst}.pacman"
          done

      - name: Upload Arch Package
        uses: actions/upload-artifact@v4
        with:
          name: build-Arch
          path: ./xmcl/PKGBUILD/*.pacman

  prepare-release:
    runs-on: ubuntu-latest
    needs:
      - build
    if: ${{ !startsWith(github.event.head_commit.message, 'chore(release)') }}

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
          fetch-depth: 0
      - uses: pnpm/action-setup@v4
        with:
          version: 9.3.0
      - name: Use Node.js 20
        uses: actions/setup-node@v4
        with:
          node-version: 20
      - name: Install
        run: |
          pnpm install --filter ./.github/actions
      - name: Bump Version
        id: version
        uses: Voxelum/semantic-version-bump-action@xmcl
        with:
          packages: |
            ./xmcl-keystone-ui
            ./xmcl-runtime
            ./xmcl-runtime-api
          root: "."
          stage: "prepare"
      - name: Update Lock File
        if: ${{ steps.version.outputs.release == 'true' }}
        run: pnpm i --lockfile-only
      - name: Create Pull Request
        if: ${{ steps.version.outputs.release == 'true' }}
        uses: peter-evans/create-pull-request@v3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          commit-message: "chore(release): version ${{ steps.version.outputs.version }}"
          title: Prepare Release ${{ steps.version.outputs.version }}
          body: ${{ steps.version.outputs.changelog }}
          reviewers: ci010
          assignees: ci010
          branch: prepare-release

  upload-sourcemap:
    runs-on: ubuntu-latest
    needs:
      - build
    steps:
      - name: Download Source Map
        uses: actions/download-artifact@v4
        with:
          name: sourcemap
          path: sourcemap/${{github.run_number}}
      - name: Upload Source Map to Azure
        uses: ci010/upload-blob-to-azure@master
        env:
          AZURE_ACCOUNT_KEY: ${{ secrets.AZURE_ACCOUNT_KEY }}
        with:
          account: xmcl
          container: sourcemap
          directory: ./sourcemap

  release:
    if: startsWith(github.event.head_commit.message, 'chore(release)')
    runs-on: ubuntu-latest
    needs:
      - build
      - build-arch
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: recursive
      - uses: pnpm/action-setup@v4
        with:
          version: 9.3.0
      - name: Use Node.js 20
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: "pnpm"
      - name: Install
        run: |
          pnpm install --filter action-*
      - name: Download Build
        uses: actions/download-artifact@v4
        with:
          pattern: build-*
          merge-multiple: true
          path: build
      - name: Prepare Release
        id: prepare_release
        uses: Voxelum/semantic-version-bump-action@xmcl
        with:
          packages: |
            ./xmcl-keystone-ui
            ./xmcl-runtime
            ./xmcl-runtime-api
          root: "."
          stage: "release"
      - name: Create Tag
        run: |
          git remote set-url origin "https://x-access-token:${GITHUB_TOKEN}@github.com/voxelum/x-minecraft-launcher.git"
          git config user.name ci010
          git config user.email cijhn@hotmail.com
          git tag -f ${{ steps.prepare_release.outputs.tag }}
          git push origin tag ${{ steps.prepare_release.outputs.tag }} -f
      - name: Emit Version File
        run: |
          echo ${{ steps.prepare_release.outputs.version }}.${{ github.run_number }} > ./build/version
      - name: Patch download links
        uses: ./.github/actions/patch-release-note
        id: release_note
        with:
          body: ${{ steps.prepare_release.outputs.changelog }}
          version: ${{ steps.prepare_release.outputs.version }}
      - name: Draft Release
        id: create_release
        uses: voxelum/create-release@xmcl
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ steps.prepare_release.outputs.tag }}
          release_name: ${{ steps.prepare_release.outputs.tag }}
          draft: true
          prerelease: false
          body: ${{ steps.release_note.outputs.body }}
          asset_dir_path: ./build
      - name: Checkout Website
        uses: actions/checkout@v4
        with:
          repository: Voxelum/xmcl-page
          path: xmcl-page
      - name: Create Release Note
        uses: ./.github/actions/generate-release-note
        with:
          body: ${{ steps.prepare_release.outputs.changelog }}
          version: ${{ steps.prepare_release.outputs.version }}
        env:
          DEEPSEEK_API_KEY: ${{ secrets.DEEPSEEK_API_KEY }}
      - name: Create Release Note PR
        uses: peter-evans/create-pull-request@v3
        with:
          token: ${{ secrets.PAT_GITHUB_TOKEN }}
          path: xmcl-page
          commit-message: "docs: Update ${{ steps.prepare_release.outputs.version }} release note"
          title: Update ${{ steps.prepare_release.outputs.version }} release note
          body: Update ${{ steps.prepare_release.outputs.version }} release note
          reviewers: ci010
          assignees: ci010
          branch: release-note-${{ steps.prepare_release.outputs.version }}
