name: Build

on:
  push:
    branches:
      - master
    paths:
      - 'xmcl-runtime/**'
      - 'xmcl-runtime-api/**'
      - 'xmcl-keystone-ui/**'
      - 'xmcl-electron-app/**'
      - 'package.json'
      - 'pnpm-lock.yaml'
      - '.github/**'

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    steps:
    - uses: actions/checkout@v2
      with:
        submodules: recursive
    - uses: pnpm/action-setup@v2.0.1
      with:
        version: 6.24.4
    - name: Use Node.js 15
      uses: actions/setup-node@v2
      with:
        node-version: 15
        cache: 'pnpm'
    - name: Install
      run: pnpm install --filter=!./xmcl-page
    # - name: Lint
    #   run: |
    #     npm run lint
    - name: Build
      run: |
        pnpm run build --prefix xmcl-keystone-ui
        pnpm run build:all --prefix xmcl-electron-app
      env:
        BUILD_NUMBER: ${{ env.GITHUB_RUN_NUMBER }}
        FULL_RELEASE: ${{ startsWith(github.event.commits[0].message, 'chore(release)') }}
    - name: Upload Build
      uses: actions/upload-artifact@v2
      with:
        name: build
        path: |
          xmcl-electron-app/build/output/*.*
          xmcl-electron-app/build/output/nsis-web/*.*
    - name: Upload Windows Asar
      if: ${{ runner.os == 'Windows' && startsWith(github.event.commits[0].message, 'chore(release)') }} 
      uses: actions/upload-artifact@v2
      with:
        name: build
        path: |
          xmcl-electron-app/build/output/win-unpacked/resources/app.asar
          xmcl-electron-app/build/output/win-unpacked/resources/app.asar.sha256

  repare-release:
    runs-on: ubuntu-latest
    needs: build
    if: ${{ !startsWith(github.event.commits[0].message, 'chore(release)') }}

    steps:
    - uses: actions/checkout@v2
      with:
        submodules: recursive
    - name: Fetch All
      run: git fetch --prune --unshallow
    - uses: pnpm/action-setup@v2.0.1
      with:
        version: 6.24.4
    - name: Use Node.js 15
      uses: actions/setup-node@v2
      with:
        node-version: 15
    - name: Install
      run: |
        pnpm install --filter ./.github/actions
    - name: Bump Version
      id: version
      uses: Voxelum/semantic-version-bump-action@master
      with:
        packages: |
          ./xmcl-electron-app
          ./xmcl-keystone-ui
          ./xmcl-runtime
          ./xmcl-runtime-api
    - name: Update Lock File
      if: ${{ steps.version.outputs.release == 'true' }}
      run: pnpm i --lockfile-only
    - name: Create Pull Request
      if: ${{ steps.version.outputs.release == 'true' }}
      uses: peter-evans/create-pull-request@v3
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        commit-message: "chore(release): version ${{ steps.version.outputs.version }}"
        title: Prepare Release ${{ steps.version.outputs.version }}
        body: ${{ steps.version.outputs.changelog }}
        reviewers: ci010
        assignees: ci010
        branch: prepare-release

  release:
    if: startsWith(github.event.commits[0].message, 'chore(release)')
    runs-on: ubuntu-latest
    needs: build
    steps:
    - uses: actions/checkout@v2
      with:
        submodules: recursive
    - name: Use Node.js 15
      uses: actions/setup-node@v2-beta
      with:
        node-version: 15
        cache: 'pnpm'
    - uses: pnpm/action-setup@v2.0.1
      with:
        version: 6.24.4
    - name: Install
      run: |
        pnpm install --filter=!./xmcl-page
    - name: Download Build
      uses: actions/download-artifact@v2
      with:
        name: build
        path: build
    - uses: ./.github/actions/generate-mcbbs-content
    - name: Upload Mcbbs Content
      uses: actions/upload-artifact@v2
      with:
        name: mcbbs
        path: mcbbs
    - name: Prepare Release
      id: prepare_release
      uses: ./.github/actions/prepare-release
    - name: Draft Release
      id: create_release
      uses: voxelum/create-release@master
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: ${{ steps.prepare_release.outputs.tag }}
        release_name: ${{ steps.prepare_release.outputs.release }}
        draft: false
        prerelease: false
        body: ${{ steps.prepare_release.outputs.body }}
        asset_dir_path: ./build
    - name: Update the latest-version.js
      run: |
        node --eval "console.log('const version = \"' + JSON.parse(require('fs').readFileSync('./xmcl-electron-app/package.json').toString()).version + '\"')" > build/latest-version.js
    - name: Upload to Azure
      uses: ci010/upload-blob-to-azure@master
      env:
        AZURE_ACCOUNT_KEY: ${{ secrets.AZURE_ACCOUNT_KEY }}
      with:
        account: xmcl
        container: releases
        directory: ./build
