name: Deploy Release
on:
  release:
    types: [published]

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
    - name: Download Releases
      uses: robinraju/release-downloader@v1.3
      with:
        repository: "voxelum/x-minecraft-launcher"
        tag: ${{ github.event.release.tag_name }}
        fileName: "*"
        out-file-path: build
    - name: Upload to Azure
      uses: ci010/upload-blob-to-azure@master
      env:
        AZURE_ACCOUNT_KEY: ${{ secrets.AZURE_ACCOUNT_KEY }}
      with:
        account: xmcl
        container: releases
        directory: ./build
    - name: Update Web Page
      uses: benc-uk/workflow-dispatch@v1
      with:
        workflow: Deploy
        token: ${{ secrets.PAT_GITHUB_TOKEN }}
        ref: 'master'
        repo: 'voxelum/xmcl-page'
    - name: Create release version file
      run: |
        mkdir releases
        echo ${{ github.event.release.tag_name }} > ./releases/VERSION
        cat << EOF > ./releases/latest_version.json
        ${{ toJSON(github.event.release) }}
        EOF
    - name: Upload release version file to Azure
      uses: ci010/upload-blob-to-azure@master
      env:
        AZURE_ACCOUNT_KEY: ${{ secrets.AZURE_ACCOUNT_KEY }}
      with:
        account: xmcl
        container: releases
        directory: ./releases
  winget:
    name: Upload To winget
    runs-on: windows-2019
    defaults:
      run:
        shell: powershell
    steps:
      - name: Create winget PR
        run: |
          iwr https://aka.ms/wingetcreate/latest -OutFile wingetcreate.exe
          .\wingetcreate.exe update CI010.XMinecraftLauncher -u $Env:URL -v $Env:VERSION -t $Env:TOKEN --submit
        env:
          TOKEN: ${{ secrets.PAT_GITHUB_TOKEN }}
          VERSION: ${{ github.event.release.tag_name }}
          URL: ${{ format('https://xmcl-release-ms.azureedge.net/releases/xmcl-{0}.appx', github.event.release.tag_name) }}
