name: Validate

on:
  pull_request

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        submodules: recursive
    - uses: pnpm/action-setup@v2.0.1
      with:
        version: 6.24.4
    - name: Use Node.js 16
      uses: actions/setup-node@v2
      with:
        node-version: 16
        cache: 'pnpm'
    - name: Install
      run: |
        pnpm install --filter=!./xmcl-page
    - name: Lint
      run: |
        pnpm run --filter ./xmcl-electron-app lint
        pnpm run --filter ./xmcl-keystone-ui lint
        pnpm run --filter ./xmcl-runtime lint
        pnpm run --filter ./xmcl-runtime-api lint
    - name: Check
      run: |
        pnpm run --filter ./xmcl-electron-app check
        pnpm run --filter ./xmcl-keystone-ui check
        pnpm run --filter ./xmcl-runtime check
        pnpm run --filter ./xmcl-runtime-api check
    - name: Build
      run: |
        pnpm run build --prefix xmcl-keystone-ui
        pnpm run build --prefix xmcl-electron-app

