name: Trigger auto deployment for xmcl-coturn

# When this action will be executed
on:
  # Automatically trigger it when detected changes in repo
  push:
    branches: 
      [ master ]
    paths:
    - '**'
    - '.github/workflows/xmcl-coturn-AutoDeployTrigger-e75879c4-80a2-4395-9fe2-ffbc6c828c46.yml'

  # Allow mannually trigger 
  workflow_dispatch:      

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout to the branch
        uses: actions/checkout@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Log in to container registry
        uses: docker/login-action@v1
        with:
          registry: docker.io
          username: ${{ secrets.XMCLCOTURN_REGISTRY_USERNAME }}
          password: ${{ secrets.XMCLCOTURN_REGISTRY_PASSWORD }}

      - name: Build and push container image to registry
        uses: docker/build-push-action@v2
        with:
          push: true
          tags: cijhn@hotmail.com/xmcl-coturn:${{ github.sha }}
          file: ./Dockerfile
          context: ./


  deploy:
    runs-on: ubuntu-latest
    needs: build
    
    steps:
      - name: Azure Login
        uses: azure/login@v1
        with:
          creds: ${{ secrets.XMCLCOTURN_AZURE_CREDENTIALS }}


      - name: Deploy to containerapp
        uses: azure/CLI@v1
        with:
          inlineScript: |
            az config set extension.use_dynamic_install=yes_without_prompt
            az containerapp registry set -n xmcl-coturn -g DefaultResourceGroup-EA --server docker.io --username  ${{ secrets.XMCLCOTURN_REGISTRY_USERNAME }} --password ${{ secrets.XMCLCOTURN_REGISTRY_PASSWORD }}
            az containerapp update -n xmcl-coturn -g DefaultResourceGroup-EA --image cijhn@hotmail.com/xmcl-coturn:${{ github.sha }}
